*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    background:#f3f4f7;
}

/* NAVBAR */
nav{
    background: linear-gradient(90deg,#0066ff,#9c27ff,#ff3d3d);
    padding:15px 40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    color:white;
    font-size:20px;
    font-weight:bold;
}

nav ul{
    list-style:none;
    display:flex;
    gap:25px;
}

nav ul li a{
    text-decoration:none;
    color:white;
    font-weight:500;
}

nav ul li a:hover{
    text-decoration:underline;
}

/* HERO */
.hero{
    text-align:center;
    padding:80px 20px;
    background:white;
}

.hero img{
    width:160px;
    height:160px;
    object-fit:cover;
    border-radius:50%;
    border:5px solid #eee;
    margin:20px 0;
}

.hero h1{
    color:#333;
}

.hero p{
    color:#666;
    margin-top:10px;
}

.btn{
    display:inline-block;
    margin-top:15px;
    background:#0066ff;
    color:white;
    padding:10px 20px;
    text-decoration:none;
    border-radius:6px;
}

.btn:hover{
    background:#0047cc;
}

/* SECTION */
section{
    max-width:1000px;
    background:white;
    margin:20px auto;
    padding:30px;
    border-radius:12px;
    box-shadow:0 4px 10px rgba(0,0,0,.1);
}

.title{
    text-align:center;
    margin-bottom:20px;
}

/* GALERI */
.galeri{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
    gap:15px;
}

.galeri img{
    width:100%;
    height:180px;
    object-fit:cover;
    border-radius:12px;
}

/* PROFIL INFO */
.about p{
    line-height:1.8;
    color:#555;
}

/* FORM KONTAK */
form{
    display:flex;
    flex-direction:column;
    gap:12px;
}

input,textarea{
    padding:10px;
    border-radius:6px;
    border:1px solid #ccc;
}

textarea{
    height:120px;
}

button{
    background:#0066ff;
    color:white;
    padding:10px;
    border:none;
    border-radius:6px;
    cursor:pointer;
}

button:hover{
    background:#0047cc;
}

/* FOOTER */
footer{
    text-align:center;
    padding:15px;
    background:#333;
    color:white;
}